@import "tailwindcss";

@font-face {
    font-family: 'Pretendard';
    src: url('./assets/fonts/Pretendard-Regular.woff2') format('woff2');
    src: url('./assets/fonts/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer base {
    body {
        font-family: 'Pretendard', sans-serif;
    }
}